:root {
    --rojo: red;
    --azul: blue;
    --negro: black;
    --gris: #424242;
    --subtitle: 1.2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
}

/* ----------------/ NAV /------------------ */
.menu_contenedor {
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: -100%;
    -webkit-transition: right 0.5s ease-in-out; /* Safari y Chrome antiguos */
    -moz-transition: right 0.5s ease-in-out; /* Firefox antiguo */
    -o-transition: right 0.5s ease-in-out; /* Opera antiguo */
    transition: right 0.5s ease-in-out; /* Transición estándar */
}

.menu-open{
    right: 0;
}

  .e> p > a:link, .e> p > a:visited, .e> p > a:active {
    text-decoration:none;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 3em;
    font-weight: 400;
  }
  .e {
    --b: 0.1em;   /* the thickness of the line */
    --c: #DE496E; /* the color */
    
    color: #fff;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#fff 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition:.3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
    
  }
  .e:hover {
    --_p: 100%;
    --_s: .3s;
    cursor: pointer;
  }
  
  .menu_contenedor .e p > a{
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
 
  }
  .contenedor_equis{
    
    width: 100px;
    height:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: -30px;
  }
  .equis{
    cursor: pointer;
  }
  .equis i{
    color: #fff;
    font-size: 30px;
  }
  
nav {
    overflow-y: hidden;
    width: 100%;
    height: 12vh;
    transition: all .5s ease;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.28);
    min-height: 94px;
    /*  */

}

nav .logo {
    width: 250px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img {
    height: 80%;
    object-fit: cover;
    width: 80%;

}

.nav_product {
    width: 50%;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_product ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav_product ul li {
    display: inline-block;
    margin-right: 50px;
    position: relative;

}

.nav_product a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
    font-family: 'Clash Display', sans-serif;
    font-size: 1em;
}

ul ul {
    display: none;
    position: absolute;
    top: 186%;
    left: 0;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.28);

}

li:hover>ul {
    display: block;
}

.menu {
    color: #fff;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    nav {
        min-height: 80px;
    }

    nav .logo {
        width: 40%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .logo img {
        width: 80%;
        min-width: 120px;
        height: 100%;
        object-fit: cover;

    }

    .nav_product ul {
        display: none;
    }

    .menu {
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 20px;
        display: block;
    }
}

/* ----------------/ NAV /------------------ */
/* ----------------/ header /------------------ */
header {
    width: 100%;
    height: 86vh;
    position: relative;
    overflow-x: hidden;
}

.header_container {
    width: 530px;
    height: 350px;

    top: 25%;
    left: 5%;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header_tittle {
    width: 100%;
    height: 70%;


    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.header_tittle h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 4em;
}

.header_tittle p {
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
}

.header_buttons {

    width: 530px;
    height: 30%;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.header_buttons-btn {
    width: 45%;
    height: 50%;

}

.header_buttons-btn button {

    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: var(--gris);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.mySwiper .swiper-slide {
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 800px) {
    header {
        height: 96vh;
    }

    .header_container {
        width: 100%;
        height: 300px;
        top: 35%;
    }

    .header_tittle {

        height: 80%;
        padding-right: 20px;
    }

    .header_tittle h1 {
        font-family: 'Clash Display', sans-serif;
        font-size: 3em;
    }

    .header_tittle p {
        font-family: 'Archivo', sans-serif;
        font-size: .8em;
    }
    .header_buttons {
        width: 100%;
        height: 30%;
        justify-content: space-between;
        padding-right: 50px;
    }
    .header_buttons-btn {
        width: 48%;
        height: 50%;
    }
    .header_buttons-btn button{
       background-color: #f1f1f1;
       outline: none;
       border: 1px solid #fff;
       cursor: pointer;
       border-radius: 10px;
       color: #222;
      
    }
}

/* ----------------/ header /------------------ */
/* ----------------/ main /------------------ */
main {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
   
}

section {
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    
}

/* ----------------/ first section /------------------ */
.first_section{
    overflow-x: hidden;
}
.first_section-tittle {
    width: 100%;
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.first_section-tittle h2 {
    margin-left: 5%;
    font-family: 'Clash Display', sans-serif;
    font-size: 2em;
    color: var(--gris);
}

.first_section-img {
    width: 100%;
    height: 80vh;
    position: relative;
}

.first_section-img .mySwiper2 {
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.first_section-img .mySwiper2 .swiper-slide {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    height: 90%;
    /* outline: 1px solid var(--rojo); */
    font-size: 18px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;

}

.first_section-img .mySwiper2 .swiper-slide .swiper-title {
    width: 96%;
    height: 60px;
    /* outline: 1px solid var(--azul); */
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    font-family: 'Clash Display', sans-serif;
    font-size: .9em;
    font-weight: 600;

}

.first_section-img .mySwiper2 .swiper-slide .n_arrow {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-style: italic;

}

.first_section-img .mySwiper2 .swiper-slide .n_arrow img {
    width: 40px;
    height: 30px;

    margin-left: 10px;
}

.first_section-img .mySwiper2 .swiper-slide>img {
    border-radius: 40px;
    display: block;
    width: 100%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    object-fit: cover;
}

.first_section-tittle .flechas {
    position: absolute;
    right: 100px;
    width: 7%;
    height: 50px;

}

.flechita {
    color: #b9a18b;
}

.swiper-pagination-bullet-active {
    background-color: #b9a18b;
    /* Cambia el color a tu preferencia */
}
@media only screen and (max-width: 800px) {
    .first_section-tittle {
        width: 100%;
        height: 15vh;
    }
    .first_section-tittle h2 {
        font-size: var(--subtitle);
    }
    .first_section-tittle .flechas {
        position: absolute;

        right: 10px;
        width: 26%;
        height: 90%;
    
    }
}
/* ----------------/ first section /------------------ */
/* ----------------/ DIV /------------------ */
.divider1 {


    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start
}

.diseño {
    width: 100%;
    height: 70%;
    border-radius: 40px;
    position: absolute;
    z-index: 2;
}

.divider-svg {
    z-index: 1;
    width: 100%;
}

.container_cont {
    z-index: 5;
    width: 80%;
    height: 70%;
    align-self: center;
    /* outline: 1px solid var(--azul); */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--gris);
}

.container_cont-sectiontop {
    z-index: 3;
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Clash Display', sans-serif;
    font-size: 3em;

    font-weight: 600;

}

.container_cont-sectionmid {
    z-index: 3;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container_cont-sectionbottom {
    z-index: 3;
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
}

.container_cont_A {
    width: calc(100% / 3);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_cont_A-number {
    width: 50%;
    height: 30%;

    font-family: 'Archivo', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_cont_A-icon {
    width: 50%;
    height: 30%;

}

.container_cont_A-icon img {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 800px) {
    .divider1 {
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: start;
        overflow: hidden;
    }
    
    .diseño {
        width: 150%;
        height: 100%;
        border-radius: 40px;
        position: absolute;
        z-index: 2;
    }
    .divider-svg {
        z-index: 1;
    }
    .container_cont {
        z-index: 5;
        width: 90%;
        height: 60%;
        overflow: hidden;
    }
    .container_cont-sectiontop {
        z-index: 3;
        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Clash Display', sans-serif;
        font-size: 2em;
        font-weight: 600;
    
    }
   
    
    .container_cont_A-number {
        
        font-family: 'Archivo', sans-serif;
        font-size: 1.2em;
        
    }
    
    .container_cont-sectionbottom {
        font-size: .7em;
        text-align: center;
    }
}
/* ----------------/ DIV /------------------ */
/* ----------------/ second_section /------------------ */
.second_section {

    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
}

.second_section-sticky {
    position: sticky;
    top: 5%;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_section-sticky-container {
    width: 70%;
    height: 70%;
    background-color: blanchedalmond;
}

.second_section-sticky-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second_section-post {
    width: 50%;
    height: 300vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.second_section-post-one {
    width: 400px;
    height: 400px;
    background-color: #f1f1f1;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.second_section-post-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    left: 30%;
    bottom: 0%;
}

.second_section-post-one .mask {
    z-index: 3;
    width: 100%;
    height: 100%;

    position: absolute;
}

.second_section-post-one_votes {
    width: 50%;
    height: 50%;

    z-index: 5;
    position: absolute;
    left: 5%;
    top: 5%;
}

.second_section-post-one_votes p {
    margin-top: 10px;
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    color: var(--gris);
    text-align: center;
}

.clasificacion {
    width: 100%;
    height: 20%;
    margin-top: 0px;
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    justify-content: center;

}

.clasificacion label {
    font-size: 30px;
    color: grey;
}

.clasificacion input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~label {
    color: orange;

}
@media only screen and (max-width: 800px) {
    .second_section {
        width: 100%;
        height: 340vh;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: start;
        align-items: start;
        align-content: start;
    }
    
    .second_section-sticky {
        position: static;
        width: 100%;
        height:25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .second_section-sticky-container {
        position: relative;
        width: 100%;
        height: 70%;
        background-color: blanchedalmond;
    }
    
    .second_section-sticky-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .second_section-post {
        width: 100%;
        height: 75%;
        padding: 0;
        justify-content: space-evenly;
    
    }
    .second_section-post-one {
        width: 90%;
        height: 300px;
        background-color: #f1f1f1;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .second_section-post-one_votes p {
        margin-top: 10px;
        font-family: 'Archivo', sans-serif;
        font-size: .9em;
        color: var(--gris);
        text-align: center;
    }
}
/* ----------------/ second_section /------------------ */
/* ----------------/ third_section /------------------ */
.third_section {
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.third_section_container {
    width: 46%;
    height: 70%;

    border-radius: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;

}

.third_section_container-letters {
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.28);
}

.third_section_container-letters h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 4em;
    font-style: italic;
    font-weight: 800;
    color: #fff;

}

.third_section_container-letters button {
    width: 44%;
    height: 24%;
    font-family: 'Clash Display', sans-serif;
    font-size: 2em;
    font-style: italic;
    font-weight: 800;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: var(--gris);
    border-radius: 20px;

}

.third_section_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    position: absolute;
}
@media only screen and (max-width: 800px) {
    .third_section {
        height: 80vh;
        flex-direction: column;
        justify-content: space-around;
    }
    .third_section_container {
        width: 90%;
        height: 46%;
        border-radius: 20px;
        min-width: 312px;
        min-height: 202px
    }
    .third_section_container-letters h2 {
        font-size: 2.5em;
    }
    .third_section_container-letters button {
        width: 44%;
        height: 30%;
        font-family: 'Clash Display', sans-serif;
        font-size: 1em;
        font-style: italic;
        font-weight: 800;
        background-color: #fff;
        border: none;
        cursor: pointer;
        color: var(--gris);
        border-radius: 20px;
    
    }
    
    .third_section_container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        position: absolute;
    }
}

/* ----------------/ third_section /------------------ */
/* ----------------/ four section /------------------ */
.four_section{
    overflow-x: hidden;
}
.four_section-tittle {
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
   
}

.four_section-tittle h2 {
    margin-left: 5%;
    font-family: 'Clash Display', sans-serif;
    font-size: 2em;
    color: var(--gris);
}

.four_section-img {
    width: 100%;
    height: 80vh;
    position: relative;
}

.four_section-img .mySwiper2 {
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.four_section-img .mySwiper2 .swiper-slide {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    height: 90%;
    /* outline: 1px solid var(--rojo); */
    font-size: 18px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;

}

.four_section-img .mySwiper2 .swiper-slide .swiper-title {
    width: 96%;
    height: 60px;
    /* outline: 1px solid var(--azul); */
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    font-family: 'Clash Display', sans-serif;
    font-size: .9em;
    font-weight: 600;

}

.four_section-img .mySwiper2 .swiper-slide .n_arrow {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-style: italic;

}

.four_section-img .mySwiper2 .swiper-slide .n_arrow img {
    width: 40px;
    height: 30px;

    margin-left: 10px;
}

.four_section-img .mySwiper2 .swiper-slide>img {
    border-radius: 40px;
    display: block;
    width: 100%;
    height: 80%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    object-fit: cover;
}

.four_section-tittle .flechas {
    position: absolute;
    right: 100px;
    width: 7%;
    height: 50px;

}

.flechita {
    color: #b9a18b;
}

.swiper-pagination-bullet-active {
    background-color: #b9a18b;
    /* Cambia el color a tu preferencia */
}
@media only screen and (max-width: 800px) {
    .four_section-tittle {
        width: 100%;
        height: 15vh;
    }
    .four_section-tittle h2 {
        font-size: var(--subtitle);
    }
    .four_section-tittle .flechas {
        position: absolute;

        right: 10px;
        width: 26%;
        height: 90%;
    
    }
}
/* ----------------/ four section /------------------ */
/* ----------------/ footer section /------------------ */
.section_footer {
    background: rgb(212, 236, 222);
    background: linear-gradient(180deg, rgba(212, 236, 222, 1) 74%, rgba(241, 241, 241, 1) 100%);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
.section_footer_divider{
    width: 100%;
}
.section_footer_container {
    width: 74%;
    height: 50%;
    /* outline: 1px solid var(--rojo); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section_footer_containerA {
    width: 40%;
    height: 100%;
    /* outline: 1px solid var(--rojo); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.section_footer_containerA .section_footer_containerA-logo {
    width: 50%;
    height: 48%;
    /* outline: 1px solid var(--azul); */
}

.section_footer_containerA .section_footer_containerA-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_footer_containerA .section_footer_containerA-suscribe {
    width: 70%;
    height: 42%;
    /* outline: 1px solid var(--azul); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section_footer_containerA .section_footer_containerA-suscribe .section_footer_containerA-suscribe-title {
    width: 100%;
    height: 20%;

}

.section_footer_containerA .section_footer_containerA-suscribe .section_footer_containerA-suscribe-title h3 {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--gris);
}

.section_footer_containerA-suscribe-input {
    display: flex;

}

.section_footer_containerA-suscribe-input input {
    width: 70%;
    height: 40px;
    border-radius: 10px 0 0 10px;
    outline: none;
    border: 2px solid var(--gris);
    padding-left: 10px;
}

.section_footer_containerA-suscribe-input input::placeholder {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2em;
    font-weight: 300;

}

.section_footer_containerA-suscribe-input button {
    width: 20%;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    border: 1px solid var(--gris);
    background-color: var(--gris);
    color: #fff;
    font-family: 'Clash Display', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.section_footer_containerA .section_footer_containerA-clients {
    width: 100%;
    height: 20%;
    /* outline: 1px solid var(--azul); */
}

.section_footer_containerB {
    width: 60%;
    height: 90%;
    /* outline: 1px solid var(--rojo); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section_footer_containerB-one {
    width: calc(100% / 3);
    height: 90%;
    /* outline: 1px solid var(--rojo); */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: var(--gris);
}

.section_footer_containerB-one .one_title {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

.section_footer_containerB-one p {
    margin-top: 10px;
    font-family: 'Clash Display', sans-serif;
    font-size: .9em;
    font-weight: 400;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    cursor: pointer;

}

.section_footer_containerB-one p i {
    font-size: 20px;
    margin-right: 10px;
}
@media only screen and (max-width: 800px) {
    .section_footer {
        height: 100vh;
    }
    .section_footer_divider{
        width: 200%;
    }
    .section_footer_container {
        width: 100%;
        height: 90%;
         
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
       
    }
    .section_footer_containerA {
        width: 100%;
        height: 40%;
        /* outline: 1px solid var(--rojo); */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
       
    }
    .section_footer_containerA .section_footer_containerA-logo {
        width: 25%;
        height: 60%;
        
    }
    .section_footer_containerA .section_footer_containerA-suscribe {
        width: 70%;
        height: 60%;
        /* outline: 1px solid var(--azul); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .section_footer_containerA .section_footer_containerA-suscribe .section_footer_containerA-suscribe-title {
        width: 100%;
        height: 20%;
    }
    .section_footer_containerA .section_footer_containerA-suscribe .section_footer_containerA-suscribe-title h3 {
        font-size: 1em;
    }
    
    .section_footer_containerA-suscribe-input {
        display: flex;
    }
    .section_footer_containerA-suscribe-input input {
        width: 70%;
        height: 40px;
    }
    .section_footer_containerA-suscribe-input input::placeholder {
        font-size: 1em;
    }

    .section_footer_containerB {
        width: 100%;
        height: 60%;
        /* outline: 1px solid var(--rojo); */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .section_footer_containerB-one {
        width: 30%;
        height: 90%;
        /* outline: 1px solid var(--rojo); */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        color: var(--gris);
    }
    .onefooter {
        margin-left: 5%;
        width: 45%;
        height: 90%;
        /* outline: 1px solid var(--rojo); */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        color: var(--gris);
    }
    .section_footer_containerB-one .one_title {
        font-family: 'Clash Display', sans-serif;
        font-size: 1em;
        font-weight: 600;
    }
    
    .section_footer_containerB-one p {
        font-size: .7em;
    }
    
}
/* ----------------/ footer section /------------------ */
/* ----------------/ main /------------------ */


/* -------------------BACK TO TOP------------- */
.wsp_button {
    position: fixed;
    bottom: 120px;
    right: 14px;
    width: 64px;
    height: 64px;
    z-index: 999;
    display: none;
}

.wsp_button a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    transition: all .5s ease;

}

.wsp_button a img:hover {

    transform: scale(2);


}

#return-to-top {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--gris);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media only screen and (max-width: 800px) {
    .wsp_button {
        bottom: 80px;
        width: 44px;
        height: 44px;
    }
    .wsp_button a img {
        transform: scale(1.5);
        transition: all .5s ease;
    }
    .wsp_button a img:hover {
        transform: scale(2);
    }
    #return-to-top {
        z-index: 999;
        position: fixed;
        bottom: 20px;
        right: 18px;
        background: var(--gris);
        width: 40px;
        height: 40px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 11px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
}