:root {
    --rojo: red;
    --azul: blue;
    --negro: black;
    --gris: #424242;
    --subtitle: 1.2em;
    --green:#b5d5b5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    color: var(--gris);
}

header {
    padding-top: 12vh;
    width: 100%;
    height: 78vh;
    position: relative;
    background-color: #f1f1f1;

}

main {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;

}

section {
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;

}

/* ----------------/ NAV /------------------ */
.menu_contenedor {
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: -100%;
    -webkit-transition: right 0.3s linear;
    /* Safari y Chrome antiguos */
    -moz-transition: right 0.3s linear;
    /* Firefox antiguo */
    -o-transition: right 0.3s linear;
    /* Opera antiguo */
    transition: right 0.3s linear;
    /* Transición estándar */
}

.menu-open {
    right: 0;
}

.e>p>a:link,
.e>p>a:visited,
.e>p>a:active {
    text-decoration: none;
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 3em;
    font-weight: 400;
}

.e {
    --b: 0.1em;
    /* the thickness of the line */
    --c: #b5d5b5;
    /* the color */

    color: #fff;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #fff 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));

}

.e:hover {
    --_p: 100%;
    --_s: .3s;
    cursor: pointer;
}

.menu_contenedor .e p>a {
    color: white;
    font-family: 'Clash Display', sans-serif;
    font-size: 2.5em;
    font-weight: 600;

}

.contenedor_equis {

    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: -30px;
}

.equis {
    cursor: pointer;
}

.equis i {
    color: #fff;
    font-size: 30px;
}
nav {
  
    width: 100%;
    height: 12vh;
    transition: all .5s ease;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.28);
    min-height: 94px;
    /*  */

}

nav .logo {
    width: 250px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img {
    height: 80%;
    object-fit: cover;
    width: 80%;
    cursor: pointer;
}

.nav_product {
    width: 50%;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;

}

ul li {
    display: flex;
    margin-right: 50px;
    position: relative;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    align-content: center;

}

 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
    font-family: 'Clash Display', sans-serif;
    font-size: 1em;
}

.ul-a{
    font-family: 'Clash Display', sans-serif;
    font-size: 1em;
    font-weight: 300;
}
.ul-a-title{
    font-family: 'Clash Display', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
}
.ul-ul {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    top: 100%;
    left: 0;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 120;
    border-radius: 0 0 10px 10px;

}
.ul-ul > li{
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: start;
    align-items: start;
}
.ul-ul > li:hover{
   background-color: var(--green);
   
}


li:hover >.ul-ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.contenedor_menu-menu {
    color: #fff;
    font-size: 30px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

@media only screen and (max-width: 800px) {
    nav {
        min-height: 80px;
    }

    nav .logo {
        width: 40%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .logo img {
        width: 80%;
        min-width: 120px;
        height: 100%;
        object-fit: cover;

    }

    ul {
        display: none;
    }

    .contenedor_menu-menu {
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 20px;
        display: block;
    }
}

/* ----------------/ NAV /------------------ */
.first_section {
    width: 100%;
    height: 100%;
}

.first_section-tittle {
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.first_section-tittle-A {
    width: 50%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3%;
}

.first_section-tittle h2 {

    font-family: 'Clash Display', sans-serif;
    font-size: 3em;
    color: var(--gris);
}

.first_section-tittle p {

    font-family: 'Archivo', sans-serif;
    font-size: 2em;
    color: #b5d5b5;
}

.first_section-tittle p:last-child {

    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    color: var(--gris);
}

.flechas {
    position: absolute;
    right: 100px;
    width: 8%;
    height: 50px;
    bottom: 0;


}

.first_section-img {
    width: 100%;
    height: 70%;
    position: relative;
    padding: 15px 30px 0px 30px;
}

.first_section-img .mySwiper4 {
    width: 100%;
    height: 90%;
    padding: 15px 15px 0px 15px;
}

.first_section-img .mySwiper4 .swiper-wrapper {
    width: 100%;
}

.first_section-img .mySwiper4 .swiper-slide {
    width: calc(100% / 7);
    text-align: center;

    height: 100%;
    /* outline: 1px solid var(--rojo); */
    font-size: 18px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;

}

.first_section-img .mySwiper4 .swiper-slide .swiper-title {
    width: 96%;
    height: 60px;
    
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;

    padding-top: 10px;
    padding-left: 10px;
}

.first_section-img .mySwiper4 .swiper-slide .n_arrow {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: .9em;
    font-style: italic;

}

.first_section-img .mySwiper4 .swiper-slide .n_arrow img {
    width: 40px;
    height: 30px;

    margin-left: 10px;
}

.first_section-img .mySwiper4 .swiper-slide>img {
    border-radius: 30px;
    display: block;
    width: 90%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    object-fit: cover;
}

.first_section-img .swiper-pagination4 {
    width: 200px;
    padding-left: 30px;
}


.flechita {
    color: #b9a18b;
}

.swiper-pagination-bullet-active {
    background-color: #b9a18b;
    /* Cambia el color a tu preferencia */
}

@media only screen and (max-width: 800px) {
    header {
        height: 100vh;
    }

    .first_section {
        width: 100%;
        height: 100%;
    }

    .first_section-tittle {
        height: 40%;
    }

    .first_section-tittle-A {
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }

    .first_section-tittle h2 {
        font-size: 2em;
    }

    .first_section-tittle p {
        font-size: 1.5em;
    }

    .first_section-tittle p:last-child {
        font-size: .8em;
    }

    .flechas {
        display: none;
    }

    .first_section-img {
        height: 60%;
        padding: 0px 5px 0px 5px;
    }

    .first_section-img .mySwiper4 {
        width: 100%;
        height: 80%;
        padding: 5px 15px 0px 15px;
    }

    .first_section-img .mySwiper4 .swiper-wrapper {
        width: 100%;
    }

    .first_section-img .mySwiper4 .swiper-slide {
        border-radius: 20px;
    }

    .first_section-img .mySwiper4 .swiper-slide .swiper-title {

        height: 50px;

        padding-top: 5px;
        padding-left: 5px;
    }

    .first_section-img .mySwiper4 .swiper-slide .n_arrow {
        font-size: .6em;
        text-align: start;

    }

    .first_section-img .mySwiper4 .swiper-slide .n_arrow img {
        width: 30px;
        height: 30px;

        margin-left: 5px;
    }

    .first_section-img .mySwiper4 .swiper-slide>img {
        border-radius: 20px;
    }

    .first_section-img .swiper-pagination4 {
        width: 200px;
        padding-left: 20px;
    }

}

/* -------------------First section------------- */
/* -------------------Second section------------- */
.second_section {
    width: 100%;
    height: 300vh;
}

.second_section_containter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.second_section_containter_filter {
    width: 20%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.second_section_containter_filter p {

    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid var(--negro);
    cursor: pointer;
    font-size: 1.1em;
}

.second_section_containter_catalogo {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;


}

.second_section_containter_catalogo-menu {
    width: 20%;
    top: 120px;
    position: sticky;
    border-right: 0.1px solid var(--gris);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.second_section_containter_catalogo-menu p {
    height: 3.5%;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: .9em;
}

.second_section_containter_catalogo-menu p:first-child {
    border-bottom: 1px solid var(--negro);
}

.second_section_containter_catalogo-catalogo {
    width: 80%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    align-content: start;
    padding: 20px;
    gap: 10px;

}

.catologo_one {
    width: calc(100% / 3.1);
    height: 500px;
    display: flex;
    flex-direction: column;
}

.catologo_one_container-img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    outline: 1px solid #ccc;
}

.catologo_one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.catologo_one-description {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #222;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.catologo_one-description-ofer {
    color: #b5d5b5;
    font-size: 1.2em;
}
@media only screen and (max-width: 800px) {
    .second_section_containter {
        padding-left: 5px;
    }
    
    .second_section_containter_filter {
        width: 100%;
        height: 6%;
        justify-content: space-evenly;
    }
    .second_section_containter_filter p {
        font-size: .9em;
    }
    
    .second_section_containter_catalogo {
        width: 100%;
        height: 94%;
    }
    .second_section_containter_catalogo-menu {
        display: none;
    }
    
.second_section_containter_catalogo-catalogo {
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 10px;
}

.catologo_one {
    width: calc(100% / 2.1);
    height: 300px;
}

.catologo_one_container-img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    outline: 1px solid #ccc;
}

.catologo_one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.catologo_one-description {
    font-size: .8em;
}

.catologo_one-description-ofer {
    color: #b5d5b5;
    font-size: 1.2em;
}
}
/* -------------------Second section------------- */
/* -------------------BACK TO TOP------------- */

.wsp_button {
    position: fixed;
    bottom: 120px;
    right: 4px;
    width: 84px;
    height: 84px;
    z-index: 999;
    display: none;
}

.wsp_button a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    transition: all .5s ease;

}

.wsp_button a img:hover {

    transform: scale(2);


}

/* ----------------/ footer section /------------------ */
.section_footer {
    background: rgb(212, 236, 222);
    background: linear-gradient(180deg, rgba(212, 236, 222, 1) 74%, rgba(241, 241, 241, 1) 100%);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.section_footer_divider {
    width: 100%;
}

.section_footer_container {
    width: 74%;
    height: 50%;
    /* outline: 1px solid var(--rojo); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section_footer_containerA {
    width: 40%;
    height: 100%;
    /* outline: 1px solid var(--rojo); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.section_footer_containerA .section_footer_containerA-logo {
    width: 50%;
    height: 48%;
    /* outline: 1px solid var(--azul); */
}

.section_footer_containerA .section_footer_containerA-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_footer_containerA .section_footer_containerA-suscribe {
    width: 70%;
    height: 42%;
    /* outline: 1px solid var(--azul); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section_footer_containerA .section_footer_containerA-suscribe .section_footer_containerA-suscribe-title {
    width: 100%;
    height: 20%;

}

.section_footer_containerA .section_footer_containerA-suscribe .section_footer_containerA-suscribe-title h3 {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--gris);
}

.section_footer_containerA-suscribe-input {
    display: flex;

}

.section_footer_containerA-suscribe-input input {
    width: 70%;
    height: 40px;
    border-radius: 10px 0 0 10px;
    outline: none;
    border: 2px solid var(--gris);
    padding-left: 10px;
}

.section_footer_containerA-suscribe-input input::placeholder {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2em;
    font-weight: 300;

}

.section_footer_containerA-suscribe-input button {
    width: 20%;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    border: 1px solid var(--gris);
    background-color: var(--gris);
    color: #fff;
    font-family: 'Clash Display', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.section_footer_containerA .section_footer_containerA-clients {
    width: 100%;
    height: 20%;
    /* outline: 1px solid var(--azul); */
}

.section_footer_containerB {
    width: 60%;
    height: 90%;
    /* outline: 1px solid var(--rojo); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section_footer_containerB-one {
    width: calc(100% / 3);
    height: 90%;
    /* outline: 1px solid var(--rojo); */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: var(--gris);
}

.section_footer_containerB-one .one_title {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

.section_footer_containerB-one p {
    margin-top: 10px;
    font-family: 'Clash Display', sans-serif;
    font-size: .9em;
    font-weight: 400;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    cursor: pointer;

}

.section_footer_containerB-one p i {
    font-size: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 800px) {
    .section_footer {
        height: 100vh;
    }

    .section_footer_divider {
        width: 200%;
    }

    .section_footer_container {
        width: 100%;
        height: 90%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .section_footer_containerA {
        width: 100%;
        height: 40%;
        /* outline: 1px solid var(--rojo); */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    .section_footer_containerA .section_footer_containerA-logo {
        width: 25%;
        height: 60%;

    }

    .section_footer_containerA .section_footer_containerA-suscribe {
        width: 70%;
        height: 60%;
        /* outline: 1px solid var(--azul); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .section_footer_containerA .section_footer_containerA-suscribe .section_footer_containerA-suscribe-title {
        width: 100%;
        height: 20%;
    }

    .section_footer_containerA .section_footer_containerA-suscribe .section_footer_containerA-suscribe-title h3 {
        font-size: 1em;
    }

    .section_footer_containerA-suscribe-input {
        display: flex;
    }

    .section_footer_containerA-suscribe-input input {
        width: 70%;
        height: 40px;
    }

    .section_footer_containerA-suscribe-input input::placeholder {
        font-size: 1em;
    }

    .section_footer_containerB {
        width: 100%;
        height: 60%;
        /* outline: 1px solid var(--rojo); */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .section_footer_containerB-one {
        width: 30%;
        height: 90%;
        /* outline: 1px solid var(--rojo); */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        color: var(--gris);
    }

    .onefooter {
        margin-left: 5%;
        width: 45%;
        height: 90%;
        /* outline: 1px solid var(--rojo); */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        color: var(--gris);
    }

    .section_footer_containerB-one .one_title {
        font-family: 'Clash Display', sans-serif;
        font-size: 1em;
        font-weight: 600;
    }

    .section_footer_containerB-one p {
        font-size: .7em;
    }

}

/* ----------------/ footer section /------------------ */
#return-to-top {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--gris);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media only screen and (max-width: 800px) {
    .wsp_button {
        bottom: 80px;
        width: 74px;
        height: 74px;
    }

    .wsp_button a img {
        transform: scale(1.5);
        transition: all .5s ease;
    }

    .wsp_button a img:hover {
        transform: scale(2);
    }

    #return-to-top {
        z-index: 999;
        position: fixed;
        bottom: 20px;
        right: 18px;
        background: var(--gris);
        width: 40px;
        height: 40px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 11px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }

    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
}
